:root {
  --text-1: black;
  --text-2: var(--gray-10);
  --surface-1: white;
  --link: deeppink;
  --visited: deeppink;
  --scrollthumb-color: white;
  scrollbar-color: white black;

  @media (prefers-color-scheme: dark) {
  	--text-1: white;
    --text-2: var(--gray-3);
    --surface-1: black;
    --link: hotpink;
    --scrollthumb-color: black;
    scrollbar-color: black white;
  }
}

body {
  min-block-size: 100lvh;
}

button {
	background: var(--text-1);
	color: var(--surface-1);
	font-size: var(--font-size-4);
	padding-inline: var(--size-7);
	padding-block: var(--size-5);
}

select {
	background: var(--text-1);
	color: var(--surface-1);
}